<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="sendOTP()">
      <div class="form-group">
        <label for="email">Linked Email or Phone</label>
        <input type="email" id="email" name="email" [(ngModel)]="emailOrPhone" required>
      </div>
      <div *ngIf="showResetPassword">
        <div class="form-group">
          <label for="otp">Enter OTP</label>
          <input type="text" id="otp" name="otp" [(ngModel)]="otp" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
        </div>
      </div>
      <button type="submit" *ngIf="!showResetPassword">Submit</button>
      <button type="button" *ngIf="showResetPassword" (click)="resetPassword()">Reset Password</button>
    </form>
  </div>
  