<div class="container">
    <div class="sidebar">
      <div class="top-section">
        <img class="logo" src="./assets/images/insta-written.png" />
        <img class="logo2" src="./assets/images/insta-logo.png" />
        <div class="link">
          <img src="./assets/images/home.png" style="height: 1rem; margin-right: 0.5rem" />
          <a href="#">Home</a>
        </div>
        <div class="link">
          <img src="./assets/images/search.png" style="height: 1rem; margin-right: 0.5rem" />
          <a href="#">Search</a>
        </div>
        <div class="link">
          <img src="./assets/images/explore.png" style="height: 1rem; margin-right: 0.5rem" />
          <a href="#">Explore</a>
        </div>
        <div class="link">
          <img src="./assets/images/reels.png" style="height: 1rem; margin-right: 0.5rem" />
          <a href="#">Reels</a>
        </div>
        <div class="link">
          <img src="./assets/images/messenger.png" style="height: 1rem; margin-right: 0.5rem" />
          <a href="#">Messages</a>
        </div>
        <div class="link">
          <img src="./assets/images/notification.png" style="height: 1rem; margin-right: 0.5rem" />
          <a href="#">Notifications</a>
        </div>
        <div class="link">
          <img src="./assets/images/create.png" style="height: 1rem; margin-right: 0.5rem" />
          <a href="#">Create</a>
        </div>
        <div class="link">
          <img src="./assets/images/tv.png" style="height: 1rem; margin-right: 0.5rem" />
          <a href="#">Instagram TV</a>
        </div>
      </div>
      <div class="bottom-section">
        <div class="link">
          <i class="fas fa-ellipsis-h"></i>
          <a href="#">More</a>
        </div>
      </div>
    </div>
    <div class="bottom-navbar">
      <div class="bottom-link">
        <img src="./assets/images/home.png" style="height: 1rem; margin-right: 0.5rem" />
      </div>
      <div class="bottom-link">
        <img src="./assets/images/explore.png" style="height: 1rem; margin-right: 0.5rem" />
      </div>
      <div class="bottom-link">
        <img src="./assets/images/reels.png" style="height: 1rem; margin-right: 0.5rem" />
      </div>
      <div class="bottom-link">
        <img src="./assets/images/create.png" style="height: 1rem; margin-right: 0.5rem" />
      </div>
      <div class="bottom-link">
        <img src="./assets/images/tv.png" style="height: 1rem; margin-right: 0.5rem" />
      </div>
    </div>
    <div class="main-container">
        <div class="stories-container">
            <div class="story">
                <div class="gradient-border">
                    <img src="assets/images/profile1.jpg" alt="Profile Picture" />
                </div>
                <p>tonystark</p>
            </div>
            <div class="story">
                <div class="gradient-border">
                    <img src="assets/images/profile2.jpg" alt="Profile Picture" />
                </div>
                <p>tomcruise</p>
            </div>
            <div class="story">
              <div class="gradient-border">
                  <img src="assets/images/profile3.jpg" alt="Profile Picture" />
              </div>
              <p>joker</p>
          </div>
          <div class="story">
            <div class="gradient-border">
                <img src="assets/images/profile4.jpg" alt="Profile Picture" />
            </div>
            <p>Sharukh khan</p>
        </div>
        <div class="story">
          <div class="gradient-border">
              <img src="assets/images/profile5.jpg" alt="Profile Picture" />
          </div>
          <p>Leo kun</p>
      </div>
      <div class="story">
        <div class="gradient-border">
            <img src="assets/images/profile6.jpg" alt="Profile Picture" />
        </div>
        <p>Batman</p>
    </div>
    <div class="story">
      <div class="gradient-border">
          <img src="assets/images/profile7.jpg" alt="Profile Picture" />
      </div>
      <p>Einstine</p>
  </div>
  <div class="story">
    <div class="gradient-border">
        <img src="assets/images/profile8.jpg" alt="Profile Picture" />
    </div>
    <p>it_is_me</p>
</div>
            <!-- Repeat the above structure for each additional story -->
        </div>
        <div class="post-container">
  <div class="post">
    <div class="post-header">
      <div class="post-info-flex">
        <img src="./assets/images/post1.jpg" alt="Profile Picture" class="profile-pic" />
        <p>Username</p>
        <ul>
          <li class="list-time">8 hrs</li>
        </ul>
      </div>
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <img src="./assets/images/post1.jpg" alt="Post Image" class="post-img" />
    <div class="post-icons">
      <div class="post-icons-left">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
      <i class="far fa-bookmark"></i>
    </div>
    <p class="likes">100 likes</p>
    <p class="caption">@Username Caption goes here...</p>
    <a href="#" class="comments">View all comments</a>
  </div>
  <div class="post">
    <div class="post-header">
      <div class="post-info-flex">
        <img src="./assets/images/post2.jpg" alt="Profile Picture" class="profile-pic" />
        <p>Username</p>
        <ul>
          <li class="list-time">8 hrs</li>
        </ul>
      </div>
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <img src="./assets/images/post2.jpg" alt="Post Image" class="post-img" />
    <div class="post-icons">
      <div class="post-icons-left">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
      <i class="far fa-bookmark"></i>
    </div>
    <p class="likes">100 likes</p>
    <p class="caption">@Username Caption goes here...</p>
    <a href="#" class="comments">View all comments</a>
  </div>
  <div class="post">
    <div class="post-header">
      <div class="post-info-flex">
        <img src="./assets/images/post3.jpg" alt="Profile Picture" class="profile-pic" />
        <p>Username</p>
        <ul>
          <li class="list-time">8 hrs</li>
        </ul>
      </div>
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <img src="./assets/images/post3.jpg" alt="Post Image" class="post-img" />
    <div class="post-icons">
      <div class="post-icons-left">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
      <i class="far fa-bookmark"></i>
    </div>
    <p class="likes">100 likes</p>
    <p class="caption">@Username Caption goes here...</p>
    <a href="#" class="comments">View all comments</a>
  </div>
</div>
<div class="post-container">
  <div class="post">
    <div class="post-header">
      <div class="post-info-flex">
        <img src="./assets/images/post1.jpg" alt="Profile Picture" class="profile-pic" />
        <p>tonystark</p>
        <ul>
          <li class="list-time">8 hrs</li>
        </ul>
      </div>
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <img src="./assets/images/post1.jpg" alt="Post Image" class="post-img" />
    <div class="post-icons">
      <div class="post-icons-left">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
      <i class="far fa-bookmark"></i>
    </div>
    <p class="likes">100 likes</p>
    <p class="caption">@Username Caption goes here...</p>
    <a href="#" class="comments">View all comments</a>
  </div>
  <div class="post">
    <div class="post-header">
      <div class="post-info-flex">
        <img src="./assets/images/post2.jpg" alt="Profile Picture" class="profile-pic" />
        <p>lonelywalker_009</p>
        <ul>
          <li class="list-time">8 hrs</li>
        </ul>
      </div>
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <img src="./assets/images/post2.jpg" alt="Post Image" class="post-img" />
    <div class="post-icons">
      <div class="post-icons-left">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
      <i class="far fa-bookmark"></i>
    </div>
    <p class="likes">100 likes</p>
    <p class="caption">@Username Caption goes here...</p>
    <a href="#" class="comments">View all comments</a>
  </div>
  <div class="post">
    <div class="post-header">
      <div class="post-info-flex">
        <img src="./assets/images/post3.jpg" alt="Profile Picture" class="profile-pic" />
        <p>tonystark</p>
        <ul>
          <li class="list-time">8 hrs</li>
        </ul>
      </div>
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <img src="./assets/images/post3.jpg" alt="Post Image" class="post-img" />
    <div class="post-icons">
      <div class="post-icons-left">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
      <i class="far fa-bookmark"></i>
    </div>
    <p class="likes">100 likes</p>
    <p class="caption">@Username Caption goes here...</p>
    <a href="#" class="comments">View all comments</a>
  </div>
</div>        
    </div>
    <div class="suggested-for-you">
      <div class="profile-container">
        <div class="profile">
          <img src="./assets/images/62-2.png" alt="Profile Picture" />
          <div class="profile-info">
            <strong>it_is_me</strong>
            <span class="profile-info-name">Name</span>
          </div>
        </div>
        <div class="switch">Switch</div>
      </div>
      <div class="profile-div">
        <p style="font-size: 0.8rem; color: var(--light-grey)">Suggested For You</p>
        <div class="profile">
          <img src="./assets/images/62-2.png" alt="Profile Picture" />
          <div class="profile-info">
            <strong>Person1</strong>
            <span class="profile-info-name">Name</span>
          </div>
        </div>
        <div class="profile">
          <img src="./assets/images/62-2.png" alt="Profile Picture" />
          <div class="profile-info">
            <strong>Person2</strong>
            <span class="profile-info-name">Name</span>
          </div>
        </div>
        <ul class="profile-list">
          <li>About</li>
          <li>Help</li>
          <li>Press</li>
          <li>API</li>
          <li>Jobs</li>
          <li>Privacy</li>
          <li>Terms</li>
          <li>Locations</li>
          <li>Language</li>
          <li>English</li>
        </ul>
        <p style="margin: 0; font-size: 0.5rem; color: var(--light-grey)">Meta Verified © 2023 INSTAGRAM FROM META</p>
      </div>
    </div>    
  </div>
  